.navBar {
    display: flex; 
    height: 117px; 
    width: 100vw; 
    align-items: center; 
    justify-content: space-between; 
    background-color: black;
    color: white;  
}

.navLinks {
    display: flex; 
}