.announcement {
    background-color: var(--corpYellow); 
    color: black; 
    height: 48px; 
    font-size: 18px; 
    text-align: center; 
    align-content: center; 
}

.announcement:hover {
    background-color: var(--corpYellowHover); 
}

.navbarBlock {
    background-color: black; 
    height: 117px; 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    margin: 0px; 
    overflow: hidden;
}

.links {
    color: white; 
    display: flex; 
    align-items: center; 
    gap: 35px; 
    font-size: 21px; 
    padding-right: 45px; 
}

#navBookPill {
    color: var(--corpDarkGrey1); 
    background-color: white;
    width: 190px; 
    height: 51px; 
    border-radius: 2rem; 
    text-align: center; 
    align-content: center;
}

#navBookPill:hover {
    background-color: var(--corpYellow);
    color: black; 
}

.bookStayPill {
    color: var(--corpBlack); 
    background-color: var(--corpYellow);
    width: 190px; 
    height: 51px; 
    border-radius: 2rem; 
    text-align: center; 
    align-content: center;
}

.bookStayPill:hover {
    background-color: var(--corpYellowHover);
    color: black; 
}

.openBurger {
    background-color: white; 
    width: 20%;  
    height: 100vh;
    position: fixed; 
    right: 0px;
    top: 0px;  
    z-index: 1000;
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    align-items: flex-end; 
    font-size: 21px;
    padding: 50px 30px;  
}

.burgerBg {
    background-color: rgba(0,0,0,0.5);
    height: 100vh; 
    width: 100vw; 
    position: fixed; 
    top: 0px; 
    z-index: 999; 
}

.subMenu {
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    gap: 20px; 
    padding-right: 41px; 
    border-right: 1px solid black; 
}