.searchArea {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    color: white; 
    margin-top: 217px; 
}

.searchArea h1 {
    font-size: 64px; 
    text-align: center;
}

.searchBar {
    width: 100vw; 
    display: flex; 
    justify-content: center;
}

.filterField {
    background-color: rgb(255,255,255); 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 220px; 
    height: 64px; 
    border-right: 1px solid rgba(0,0,0,0.15);
}

.fieldName {
    color: #5F5C5C; 
    margin-left: 30px; 
    font-size: 21px; 
}

.fieldArrow {
    color: #969696; 
    margin-right: 28px; 
}


#start {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;  
}

.searchField {
    background-color: #FFF5AC; 
    color: #111827; 
    width: 220px; 
    height: 64px; 
    font-size: 21px; 
    font-weight: bold; 
    text-align: center; 
    align-content: center;
    border-top-right-radius: 2rem; 
    border-bottom-right-radius: 2rem; 
}