.burgerMenu {
    background-color: white; 
    z-index: 20; 
    position: fixed; 
    right: 0px; 
    top: 0px; 
    height: 100vh; 
    width: 470px; 
    text-align: right; 
    padding-top: 83px; 
    overflow-y: scroll; 
}

.burgerMenu div {
    margin-right: 55px; 
    font-size: 21px; 
    color: #5F5C5C; 
    margin-bottom: 15px; 
}

.subMenu {
    margin-top: 15px; 
    border-right: 3px solid #b9b9b9; 
}

.bookStayMenu {
    background-color: #FFF5AC;
    border-radius: 2rem;
    width: 248px; 
    height: 60.5px; 
    position: absolute;
    right: 0px;  
    align-content: center; 
    text-align: center; 
}

.socialIcons{
    display: block; 
    position: relative;
    top: 75.5px;  
}

.socialIcons .burgerMenuIcon {
    margin-top: 20px; 
    margin-left: 20px; 
    font-size: 24px;
    vertical-align: middle; 
}