  .homeHero {
    background-image: url('../../assets/heroBG.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    margin: 0px; 
    height: 1080px;
    width: 100vw;  
  }
  
.homeHero h2 {
    margin: 0px; 
  }