/* importing fonts according to UI design */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* setting up colors and fonts */
:root {
    --corpYellow: #FFF5AC; 
    --corpYellowHover: #EFE58D; 
    --corpBlack: #111827; 
    --corpGrey: #F2F2F2;
    --corpLightGrey1: #DBDBDB; 
    --corpLightGrey2: #969696; 
    --corpDarkGrey1: #606060; 
    --corpDarkGrey2: #5F5C5C;
}

/* declaring main font according to UI design */
body {
    background-color: var(--corpGrey);
    padding: 0px; 
    margin: 0px; 
    font-family: 'Source Sans 3'; 
    cursor: default;
}

h1 {
    font-family: 'Work Sans'; 
    font-size: 64px; 
    margin: 0px; 
}

h2 {
    font-family: 'Work Sans'; 
    font-size: 32px; 
    margin: 0px;  
}

h3 {
    font-family: 'Work Sans';
    font-weight: 600;  
    margin: 0px; 
}

p {
    font-family: 'Source Sans 3'; 
    margin: 0px; 
    font-size: 21px; 
}

a, a:visited {
    color: inherit; 
    text-decoration: none; 
}

/* somehow does not work in styled component */
#bgimg {
    background-image: url('./assets/heroBG.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position-y: -275px;
}