/* bannerBar styles */
.bannerBar {
    background-color: #FFF5AC; 
    color: black;
    width: 100vw; 
    font-size: 18px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.bannerBar svg {
    margin-left: 10px; 
}

/* hover effect for bannerBar */
.bannerBar:hover {
    background-color: #EFE58D;
}

/* nav bar styles */
.navBar {
    position: sticky; 
    top: 0; 
    color: white;  
    display: flex; 
    position: sticky;  
    height: 120px; 
    width: 100vw; 
    align-items: center; 
    justify-content: space-between; 
}

.navBar .taLogo img {
    width: 187px; 
    margin-left: 63px; 
}

.navLinks {
    display: flex;
    margin-right: 50px;   
    align-items: center; 
    font-size: 17px; 
}

.navLinks div {
    margin: 21px; 
}

/* book your stay link styles */
.navLinks .bookStay {
    background-color: white;
    color: #606060;
    width: 190px; 
    height: 51px;  
    font-size: 18px;
    text-align: center;  
    align-content: center; 
    border-radius: 2rem; 
    color: black; 
}

/* icon styles */
.loginIcon {
    background-color: #FFF5AC;
    border-radius: 2rem;  
}

.loginIcon svg {
    color: grey;
    font-size: 28px;  
    padding: 10px; 
    vertical-align: middle; 
}

.cartIcon svg {
    color: white; 
    font-size: 24px; 
    padding: 12px; 
    vertical-align: middle; 
}

/* hover effects for nav bar links */
.navLinks .link:hover {
    color: #DBDBDB
}

.bookStay:hover {
    background-color: #FFF5AC;
    color: black; 
}

/* burger menu button styles */
.burgerIcon {
    background-color: transparent;
    border: none; 
}

.burgerIcon svg { 
    color: white; 
    font-size: 28px; 

}
